<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout" lang="en">
<head>
<title>Users : Create</title>
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<style>
.create-user-form {
	width: 74%;
}

.select-user-form {
	width: 36%;
}

.submit-create-user-form {
	margin-left: 36%;
	margin-top: 5%;
}

.input-submit-create-user {
	width: 15%;
}
</style>
</head>
<body>
	<div th:fragment="header" class="">
		<nav
			class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/login}"> <img
				src="/img/logo.png" width="80" height="100" alt="">
			</a>
		</nav>
	</div>
	<h1>Custom error page</h1>
	<div class="alert alert-danger" role="alert">Error: Probably you
		tried to delete a field that was related with other or you tryied to
		insert an empty field.</div>
	<div class="form-actions col-xs-offset-2 col-xs-10 loginsubmit">
		<button class="btn btn-primary" onclick="window.history.go(-1); return false;" value="Back" style="margin-left: 1%;">Back</button>		
	</div>
</body>
</html>