<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<script src="/js/jquery-1.7.2.js"></script>
<style>
.create-user-form {
	width: 74%;
}

.select-user-form {
	width: 36%;
}

.submit-create-user-form {
	margin-left: 36%;
	margin-top: 5%;
}

.input-submit-create-user {
	width: 15%;
}
#subject{
	width: 541%;
}
#body{
	width: 600%;
}
#ownmenuicon {
	color: white !important;
	font-size: 70px;
	margin-left:0%;
}
</style>
</head>
<body>
	<div th:if="${person.role.name == 'ROLE_ADMIN'}">
		<div th:replace="adminmenu :: header"></div>
	</div>
	<div th:if="${person.role.name == 'ROLE_USER'}">
		<div th:replace="usermenu :: header"></div>
	</div>
	<h1>Modify task</h1>
	<div layout:fragment="content" class="container">
		<form id="taskForm" th:action="@{/task/modify}"
			th:object="${taskmessagedto}" action="#" method="POST">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					<strong>Validation error</strong>
				</p>
			</div>
			<input type="hidden" th:field="*{task.id}"
				th:class="${#fields.hasErrors('task.id')} ? 'field-error'" /> 

			<div class="row">
				<div class="col form-group">
					<label class="control-label col-xs-2" for="name"><strong>Name</strong></label>
					<div class="col-xs-10">
						<input type="text" th:field="*{task.name}"
							th:class="${#fields.hasErrors('task.name')} ? 'field-error'" />
					</div>
				</div>
				<div class="col form-group">
					<label class="control-label col-xs-2" for="description"><strong>Description</strong></label>
					<div class="col-xs-10">
						<input type="text" th:field="*{task.description}"
							th:class="${#fields.hasErrors('task.description')} ? 'field-error'" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col form-group">
					<label class="control-label col-xs-2" for="startDate"><strong>Started</strong></label>
					<div class="col-xs-10">
						<input type="date" th:field="*{task.startDate}"
							th:class="${#fields.hasErrors('task.startDate')} ? 'field-error'" />
					</div>
				</div>
				<div class="col form-group">
					<label class="control-label col-xs-2" for="endDate"><strong>Ended</strong></label>
					<div class="col-xs-10">
						<input type="date" th:field="*{task.endDate}"
							th:class="${#fields.hasErrors('task.endDate')} ? 'field-error'" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col form-group"
					th:classappend="${#fields.hasErrors('task.project')} ? 'has-error'">
					<label class="control-label col-xs-2" for="registrations"><strong>Projects</strong></label>
					<div class="col-xs-10">
						<select class="create-user-form" id="project"
							th:field="*{task.projectId}" onclick="onProjectChanged()">
							<option th:each="project : ${projects}" th:value="${project.id}"
								th:text="${project.name}"></option>
						</select>
					</div>
				</div>

				<div class="col form-group"
					th:classappend="${#fields.hasErrors('task.person')} ? 'has-error'">
					<label class="control-label col-xs-2"><strong>Users</strong></label>
					<div class="col-xs-10">
						<select class="create-user-form" id="person" th:field="*{task.personId}"></select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-xs-2" for="subject"><strong>Subject</strong></label>
					<div class="col-xs-10">
						<input id="subject" type="text" th:field="*{message.subject}"
							th:class="${#fields.hasErrors('message.subject')} ? 'field-error'" />
					</div>
				</div>
				</div>
				<div class="row">
				<div class="form-group">
					<label class="control-label col-xs-2" for="body"><strong>Body</strong></label>
					<div class="col-xs-30">
						<textarea rows="5" id="body"
                              name="body"
                              placeholder="Body" th:field="*{message.body}" class="form-control"
							th:class="${#fields.hasErrors('message.body')} ? 'field-error'"></textarea>
					</div>
				</div>
			</div>
			
			<div
				class="col form-actions col-xs-offset-2 col-xs-10 submit-create-user-form">
				<input type="submit"
					class="btn btn-primary input-submit-create-user" value="Save" />
			</div>
		</form>
	</div>
	<script th:inline="javascript">
		var projects = /*[[${projects}]]*/'projects';

		function onProjectChanged() {
			var chosenProject = $("#project").children("option:selected").val();
			for (i = 0; i < projects.length; i++) {
				if (projects[i].id == chosenProject) {
					$('#person option').remove();
					person = projects[i].personList;
					for (indexPerson = 0; indexPerson < person.length; indexPerson++) {
						$('#person').append(
								$('<option>', {
									value : person[indexPerson].id,
									text : person[indexPerson].user + " - "
											+ person[indexPerson].name + " "
											+ person[indexPerson].lastname1
											+ " "
											+ person[indexPerson].lastname2
								}));
					}
					$("#person").trigger("chosen:updated");
				}
			}
		}
	</script>
</body>
</html>