<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
<title>Login Page</title>

<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
.login{
	margin-left:40%;
}
.forgot{
	margin-left:43%;
	margin-bottom:1%;
}
.loginsubmit{
	margin-left:45%;
}
</style>
</head>
<body>
	<div th:fragment="header" class="">
		<nav
			class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/login}">
		      <img src="/img/logo.png" width="80" height="100" alt="">
		    </a>
		</nav>
	</div>
	<h1>Login</h1>
	<div class="container">
		
		<div th:if="${param.error}" class="alert alert-danger">Invalid
			username and password.</div>
		<div th:if="${param.logout}" class="alert alert-danger">You have
			been logged out.</div>

		<form th:action="@{/doLogin}" method="post" class="form-horizontal">
			<div class="form-group login">
				<label class="control-label col-xs-2" for="user"> <strong>User Name:</strong>
				</label>

				<div class="col-xs-10">
					<input id="user" type="text" name="user" />
				</div>
			</div>
			<div class="form-group login">
				<label class="control-label col-xs-2" for="password">
					<strong>Password:</strong> </label>

				<div class="col-xs-10">
					<input id="password" type="password" name="password" />
				</div>
			</div>
			<div class="col-xs-10 forgot">
				<a href="/recoverpassword"> Forgot password?</a>
			</div>
			<div class="form-actions col-xs-offset-2 col-xs-10 loginsubmit">
				<input type="submit" class="btn btn-primary" value="Sign In" />
			</div>
		</form>
	</div>

</body>
</html>