<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en">
<head>
<title>Layout</title>

<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div th:fragment="header" class="container">
        <div class="navbar">
            <div class="navbar-inner">
				<div class="pull-right">
					<ul>		        				            
				    	<li><a href="main.html" th:href="@{/main">Home</a></li>
					    <li><a href="listperson.html" th:href="@{/person/(listperson)}">List Users</a></li>
					    <li><a href="listproject.html" th:href="@{/project/(listproject)}">List Projects</a></li>
					    <li><a href="listtask.html" th:href="@{/task/(listtask)}">List Tasks</a></li>
					</ul>				    
				</div>
			</div>
        </div>
    </div>
</body>
</html>