<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en">
<head>
<title>Layout</title>

<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div th:fragment="header" class="container">
        <div class="navbar">
            <div class="navbar-inner">
				<div class="pull-right">
					<ul>		        				            
				    	<li><a href="main.html" th:href="@{/main">Home</a></li>
					    <li><a href="listperson.html" th:href="@{/person/(listperson)}">List Users</a></li>
					    <li><a href="listproject.html" th:href="@{/project/(listproject)}">List Projects</a></li>
					    <li><a href="listtask.html" th:href="@{/task/(listtask)}">List Tasks</a></li>
					</ul>				    
				</div>
			</div>
        </div>        
        <h1 layout:fragment="header">Layout</h1>
        <div layout:fragment="content">Fake content</div>
    </div>
</body>
</html>