<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout" lang="en">
<head>
<title>Tasks : View</title>
</head>
<body>	
    <div th:if="${person.role.name == 'ROLE_ADMIN'}">
		<div th:replace="adminmenu :: header"> </div>  
    </div>
    <div th:if="${person.role.name == 'ROLE_USER'}">
		<div th:replace="usermenu :: header"> </div>  
	</div> 
    <div layout:fragment="content" class="container">
    	<div class="alert alert-success" th:if="${globalMessage}" th:text="${globalMessage}">Some Success message</div>
        <div th:if="${viewtask.endDate == null}">
        <dl>
            <dt>ID</dt>
            <dd id="id" th:text="${viewtask.id}">123</dd>
            <dt>Name</dt>
            <dd id="name" th:text="${viewtask.name}">Name</dd>
            <dt>Description</dt>
            <dd id="lastname1" th:text="${viewtask.description}">Description</dd>            
            <dt>Start Date</dt>
            <dd id="created" th:text="${#calendars.format(#calendars.createForTimeZone(#dates.year(viewtask.startDate), #dates.month(viewtask.startDate), #dates.day(viewtask.startDate),'UTC'), 'yyyy-MMM-dd')}">July 11, 2012 2:17:16 PM CDT</dd>            
            <dt>User</dt>
		    <dd id="person" th:text="${viewtask.person.name} + ' ' + ${viewtask.person.lastname1} + ' ' + ${viewtask.person.lastname2}">User</dd>
		    <dt>Project</dt>
            <dd id="project" th:text="${viewtask.project.name}">Project</dd>
        </dl>
        </div>
        <div th:if="${viewtask.endDate != null}">
        <dl>
            <dt>ID</dt>
            <dd id="id" th:text="${viewtask.id}">123</dd>
            <dt>Name</dt>
            <dd id="name" th:text="${viewtask.name}">Name</dd>
            <dt>Description</dt>
            <dd id="lastname1" th:text="${viewtask.description}">Description</dd>            
            <dt>Start Date</dt>
            <dd id="created" th:text="${#calendars.format(#calendars.createForTimeZone(#dates.year(viewtask.startDate), #dates.month(viewtask.startDate), #dates.day(viewtask.startDate),'UTC'), 'yyyy-MMM-dd')}">July 11, 2012 2:17:16 PM CDT</dd>
            <dt>End Date</dt>
            <dd id="ended" th:text="${#calendars.format(#calendars.createForTimeZone(#dates.year(viewtask.endDate), #dates.month(viewtask.endDate), #dates.day(viewtask.endDate),'UTC'), 'yyyy-MMM-dd')}">July 11, 2012 2:17:16 PM CDT</dd>            
            <dt>User</dt>
		    <dd id="person" th:text="${viewtask.person.name} + ' ' + ${viewtask.person.lastname1} + ' ' + ${viewtask.person.lastname2}">User</dd>
		    <dt>Project</dt>
            <dd id="project" th:text="${viewtask.project.name}">Project</dd>           
        </dl>
        </div>
        <div th:if="${person.role.name == 'ROLE_ADMIN'}">
	        <div class="pull-left">
	            <a href="tasks" th:href="@{'/task/delete/' + ${task.id}}"> Delete </a> | <a href="formtask.html" th:href="@{'/task/modify/' + ${task.id}}"> Modify </a>
	        </div>
        </div>
    </div>
</body>
</html>